body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    background: url("Contact.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.left{
    display: inline-block;
    /* border: 2px solid purple; */
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;

}

.left img{
    width: 77px;
    filter: invert(100%);
}

.left div{
    text-align: center;
    font-size: 17px;
}

.mid{
    background-color: black;
    display: block;
    width: 40%;
    margin: 20px auto;
    border: 2px solid rgb(88, 85, 85);
    border-radius: 20px;
    
}

.right{
    display: inline-block;
    /* border: 2px solid green; */
    position: absolute;
    right: 20px;
    top: 20px;
}

.Navbar{
    
    display: inline-block;
}

.Navbar li{
    display: inline-block;
    font-size: 20px;
}

.Navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px;
}

.Navbar li a:hover,.Navbar li a.active{
    text-decoration:underline;
    color: grey;
}

.btn{
    margin: 11px 6px;
    background-color: black;
    color: white;
    padding: 4px 3px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(137, 128, 128);
}

#btn1{
    width:90px;
}

#btn2{
    width:90px;
}

.container{
    display: block;
    text-align: center;
    border: 2px solid black;
    margin: 100px;
    padding: 40px;
    width: 33%;
    color: white;
    background-color: black;
    border-radius: 15px;
}

#btn3{
    width: 85px;
    margin: 18px 12px;
}

.form-group input{
    display: block;
    text-align: center;
    margin: 8px 126px;
    padding: 5px;
    width: 245px;
    border: 2px solid white;
    border-radius: 8px;

}

.info{
display: block;
text-align: center;
margin: -465px 950px;
padding: 0px;
width: 360px;
color: white;
font-size: 19px;
}

.info h1{
    font-size: 38px
}